.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin: 2rem 0;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.project-image {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.img {
    min-height: inherit;
    width: 90%;
    height: 90%;
    border-radius: .8rem;
    object-fit: cover;
    transition: .3s ease;
}

.description {
    width: 90%;
    display: flex;
    flex-direction: column;
    line-height: 1.8rem;
    gap: 1.2rem;
    height: 100%;

}

.title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #f7f7f7;
    line-height: normal;
}

.body {
    font-size: 1.2rem;
    font-weight: 500;
    color: #dddddd;
    text-wrap: pretty;
}

.technologies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.links a:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .project {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.8rem;
    }

    .description {
        height: auto;
        width: 100%;
        padding: 0;
    }
}

.swiper-pagination {
    margin-top: 30px;
    position: relative !important;
}

@media (max-width: 640px) {
    .swiper-pagination {
        margin-top: 5px;
        position: relative !important;
    }
}

.swiper-pagination-bullet {
    background-color: #999 !important;
    /* color de los bullets inactivos */
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #a855f7 !important;
    /* bullet activo: fucsia o el color que quieras */
}