@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-plus-jakarta), sans-serif;
}
/* *{
  border: 1px dotted red;
} */

html{
  scroll-behavior: smooth;
}
.wrapper{

  opacity: 1;
  visibility: visible;
  transition: opacity 2.2s ease-in-out, visibility 2.2s ease-in-out, height 2.2s ease-in-out;
  /* max-width: 1200px; */
  /* min-width: 380px; */
  /* height: auto; */
  /* margin: 0 auto; */


}

.content{
  border: 2px solid #951212;
  max-width: 1200px;
  margin: 0 auto;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}


@keyframes typing {
  0% { width: 0; }           
  50% { width: 18ch; }       
  75% { width: 18ch; }       
  100% { width: 0; }         
}
@keyframes blink {
  50% { border-color: transparent; }
}

@media (prefers-reduced-motion: reduce) {
  html{
    scroll-behavior: auto;
  }
}